.navbar {
  background-color: #042235;
  width: 80px;
  height: 100vh;
  justify-content: center;
  padding: 0;
  align-items: baseline;
  position: sticky;
}
.nav.navbar-nav {
  width: 100%;
}

.nav > a > .nav-icon {
  opacity: 0.3;
  margin-top: 25px;
  margin-left: 25px;
}

.nav > a:hover img {
  opacity: 1;
}
.nav > a:hover {
  background-color: #2995da;
}

.nav > a:active img {
  opacity: 1;
}
.nav > a:active {
  background-color: #2995da;
}

.navbar-brand {
  width: 100%;
  height: 80px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
